<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" fixed app color="teal lighten-2" dark>
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar fixed app color="teal lighten-2" dark fade-img-on-scroll>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title v-if="$auth.loggedIn" v-text="$auth.user.email" />
      <v-toolbar-title v-else v-text="title" />
    </v-app-bar>
    <v-main>
      <v-container fluid>
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      drawer: false,
      fixed: true,
      items: [
        {
          icon: "mdi-home",
          title: "shop",
          to: "/",
        },
        {
          icon: "mdi-chart-bubble",
          title: "My orders",
          to: "/orders",
        },
        {
          icon: "mdi-account-key",
          title: "Profile",
          to: "/profile",
        },
      ],
      title:'Simple MS'
    };
  },
};
</script>
