<template>
  <section>
    <v-carousel hide-delimiters>
      <v-carousel-item v-for="(item, i) in slides" :key="i">
        <v-sheet :color="item.color" height="100%" tile>
          <v-row class="fill-height" align="center" justify="center">
            <div
              class="display-2 white--text pl-5 pr-5 hidden-sm-only"
              style="text-shadow: 0 0 5px #ccc"
            >
              {{ item.text }}
            </div>
          </v-row>
        </v-sheet>
      </v-carousel-item>
    </v-carousel>

    <div v-for="item in products" :key="item._id" class="pl-4 pr-4 row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <v-card>
          <v-img
            src="https://picsum.photos/200/300"
            class="white--text align-center"
            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
            height="400px"
          >
            <h1 class="text-center font-size">{{item.name}}</h1>
            <div class="text-center">
              <v-btn :to="'products/'+item._id" class="white--text" outlined>SHOP NOW</v-btn>
            </div>
          </v-img>
        </v-card>
      </div>
    </div>

  </section>
</template>

<script>
export default {
  data() {
    return {
      products:{},
      slides: [
        {
          text: "Welcome to Simple shop",
          color: "blue",
        },
        {
          text: "Front end with with Nuxt, Vuetify, VueJs",
          color: "teal",
        },
        {
          text: "Backend Microservice with Expressjs",
          color: "blue-grey",
        },
      ],
    };
  },
  mounted(){
    this.getProducts();
  },
  methods:{
    async getProducts(){
      await this.$axios.get('/products').then(Response =>{
        this.products = Response.data.data;
      })

  }
  }
};
</script>
