<template>
  <section>
    <v-row>
      <v-card v-for="item in items" :key="item._id" class="mx-auto" max-width="344" outlined>
        <v-list-item three-line>
          <v-list-item-content>
            <div class="overline mb-4">{{item.createdAt}}</div>
            <v-list-item-title class="headline mb-1">
              {{item.comment}}
            </v-list-item-title>
            <v-list-item-subtitle
              >
              {{item.payStatus}}
              </v-list-item-subtitle
            >
          </v-list-item-content>

          <v-list-item-avatar tile size="80" color="grey"></v-list-item-avatar>
        </v-list-item>

        <v-card-actions>
          <v-btn outlined rounded text color="red"> Cancel </v-btn>
        </v-card-actions>
      </v-card>
    </v-row>
  </section>
</template>

<script>
export default {
  middleware: "auth",
  mounted() {
    this.getOrder();
  },
  methods: {
    async getOrder() {
      await this.$axios.get("/orders").then((Response) => {
        this.items = Response.data.data;
      });
    },
  },
  data: () => ({
    items: {},
  }),
};
</script>

<style>
</style>
