<template>
  <section> <v-row class="ma-1 pa-0" align="center">
      <v-col>
        <v-card>
          <v-row>
            <v-col cols="6">
             <v-icon large>mdi-store</v-icon>
            </v-col>
            <v-col cols="6">
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title><h3>{{$auth.user.fname}}</h3></v-list-item-title>
                </v-list-item-content>
              </v-list-item>

            </v-col>
      </v-row>
        </v-card>
      </v-col>

    </v-row>
    <v-spacer></v-spacer>
    <v-row class="text-center pa-0 ma-0">
      <v-col cols="2" class="ma-0 pa-0">
        <v-card
          color="teal darken-1 pt-4"
          class="rounded-0 white--text"
          height="60"
          dark
          justify-center
        >
          seller
        </v-card>
      </v-col>
      <v-col cols="8" class="ma-0 pa-0">
        <v-card
          color="orange lighten-1"
          class="rounded-0 teal--text text--darken-3"
          height="60"
          dark
        >
          <h3>Invite friend</h3>
          <small>best gifts</small>
        </v-card>
      </v-col>
      <v-col cols="2" class="ma-0 pa-0">
        <v-card
          color="teal darken-1 pt-4"
          class="rounded-0 white--text"
          height="60"
          dark
        >
          client
        </v-card>
      </v-col>
    </v-row>

    <v-spacer></v-spacer>
    <v-row class="ma-1 pa-0" align="center" justify="center">

      <v-col cols="6">
        <v-card class="pa-3 text-center">
          <v-img
            width="60"
            class="mx-auto"
            src="/img/icons/wallet.svg"
            lazy-src="/img/icons/wallet.svg"
          ></v-img>
          <h4 class="grey--text text--darken-3 pt-3">Charje</h4>
        </v-card>
      </v-col>

      <v-col cols="6">
        <v-card class="pa-3 text-center">
          <v-img
            width="60"
            class="mx-auto"
            src="/img/icons/deal.svg"
            lazy-src="/img/icons/deal.svg"
          ></v-img>
          <h4 class="grey--text text--darken-3 pt-3">Transactions</h4>
        </v-card>
      </v-col>


      <v-col cols="6">
        <v-card class="pa-3 text-center">
          <v-img
            width="60"
            class="mx-auto"
            src="/img/icons/placeholder.svg"
            lazy-src="/img/icons/placeholder.svg"
          ></v-img>
          <h4 class="grey--text text--darken-3 pt-3">Adreeses</h4>
        </v-card>
      </v-col>

      <v-col cols="6">
        <v-card class="pa-3 text-center">
          <v-img
            width="60"
            class="mx-auto"
            src="/img/icons/email.svg"
            lazy-src="/img/icons/email.svg"
          ></v-img>
          <h4 class="grey--text text--darken-3 pt-3">Messages</h4>
        </v-card>
      </v-col>




      <v-col cols="6">
        <v-card class="pa-3 text-center">
          <v-img
            width="60"
            class="mx-auto"
            src="/img/icons/gift.svg"
            lazy-src="/img/icons/gift.svg"
          ></v-img>
          <h4 class="grey--text text--darken-3 pt-3">Gift</h4>
        </v-card>
      </v-col>


      <v-col cols="6">
        <v-card class="pa-3 text-center">
          <v-img
            width="60"
            class="mx-auto"
            src="/img/icons/connection.svg"
            lazy-src="/img/icons/connection.svg"
          ></v-img>
          <h4 class="grey--text text--darken-3 pt-3">Free</h4>
        </v-card>
      </v-col>

      <v-col cols="6">
        <v-card class="pa-3 text-center">
          <v-img
            width="60"
            class="mx-auto"
            src="/img/icons/telemarketer.svg"
            lazy-src="/img/icons/telemarketer.svg"
          ></v-img>
          <h4 class="grey--text text--darken-3 pt-3">Support</h4>
        </v-card>
      </v-col>

      <v-col cols="6">
        <v-card class="pa-3 text-center">
          <v-img
            width="60"
            class="mx-auto"
            src="/img/icons/door.svg"
            lazy-src="/img/icons/door.svg"
          ></v-img>
          <h4 class="grey--text text--darken-3 pt-3">Logout</h4>
        </v-card>
      </v-col>



    </v-row>
  </section>
</template>

<script>
export default {

}
</script>

<style>

</style>
